interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://opendart.fss.or.kr/api/company.json?corp_code=00126380&crtfc_key=DUMMY
  response:
    body:
      string: "{\"status\":\"000\",\"message\":\"\uC815\uC0C1\",\"corp_code\":\"00126380\",\"corp_name\":\"\uC0BC\uC131\uC804\uC790(\uC8FC)\",\"corp_name_eng\":\"SAMSUNG
        ELECTRONICS CO,.LTD\",\"stock_name\":\"\uC0BC\uC131\uC804\uC790\",\"stock_code\":\"005930\",\"ceo_nm\":\"\uC804\uC601\uD604,
        \uB178\uD0DC\uBB38\",\"corp_cls\":\"Y\",\"jurir_no\":\"1301110006246\",\"bizr_no\":\"1248100998\",\"adres\":\"\uACBD\uAE30\uB3C4
        \uC218\uC6D0\uC2DC \uC601\uD1B5\uAD6C  \uC0BC\uC131\uB85C 129 (\uB9E4\uD0C4\uB3D9)\",\"hm_url\":\"www.samsung.com/sec\",\"ir_url\":\"\",\"phn_no\":\"02-2255-0114\",\"fax_no\":\"031-200-7538\",\"induty_code\":\"264\",\"est_dt\":\"19690113\",\"acc_mt\":\"12\"}"
    headers:
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://opendart.fss.or.kr/api/fnlttSinglAcntAll.json?bsns_year=2019&corp_code=00126380&crtfc_key=DUMMY&fs_div=CFS&reprt_code=11011
  response:
    body:
      string: "{\"status\":\"000\",\"message\":\"\uC815\uC0C1\",\"list\":[{\"rcept_no\":\"20200330003851\",\"reprt_code\":\"11011\",\"bsns_year\":\"2019\",\"corp_code\":\"00126380\",\"sj_div\":\"BS\",\"sj_nm\":\"\uC7AC\uBB34\uC0C1\uD0DC\uD45C\",\"account_id\":\"ifrs-full_CurrentAssets\",\"account_nm\":\"\uC720\uB3D9\uC790\uC0B0\",\"account_detail\":\"-\",\"thstrm_nm\":\"\uC81C
        51 \uAE30\",\"thstrm_amount\":\"181385260000000\",\"frmtrm_nm\":\"\uC81C 50
        \uAE30\",\"frmtrm_amount\":\"174697424000000\",\"bfefrmtrm_nm\":\"\uC81C 49
        \uAE30\",\"bfefrmtrm_amount\":\"146982464000000\",\"ord\":\"1\",\"currency\":\"KRW\"},{\"rcept_no\":\"20200330003851\",\"reprt_code\":\"11011\",\"bsns_year\":\"2019\",\"corp_code\":\"00126380\",\"sj_div\":\"BS\",\"sj_nm\":\"\uC7AC\uBB34\uC0C1\uD0DC\uD45C\",\"account_id\":\"ifrs-full_CashAndCashEquivalents\",\"account_nm\":\"\uD604\uAE08\uBC0F\uD604\uAE08\uC131\uC790\uC0B0\",\"account_detail\":\"-\",\"thstrm_nm\":\"\uC81C
        51 \uAE30\",\"thstrm_amount\":\"26885999000000\",\"frmtrm_nm\":\"\uC81C 50
        \uAE30\",\"frmtrm_amount\":\"30340505000000\",\"bfefrmtrm_nm\[...]
[...]
