interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ecos.bok.or.kr/api/StatisticSearch/DUMMY/json/kr/1/1/817Y002/D/20231228/20231228/010210000
  response:
    body:
      string: "{\"StatisticSearch\":{\"list_total_count\":1,\"row\":[{\"STAT_CODE\":\"817Y002\",\"STAT_NAME\":\"1.3.2.1.
        \uC2DC\uC7A5\uAE08\uB9AC(\uC77C\uBCC4)\",\"ITEM_CODE1\":\"010210000\",\"ITEM_NAME1\":\"\uAD6D\uACE0\uCC44(10\uB144)\",\"ITEM_CODE2\":null,\"ITEM_NAME2\":null,\"ITEM_CODE3\":null,\"ITEM_NAME3\":null,\"ITEM_CODE4\":null,\"ITEM_NAME4\":null,\"UNIT_NAME\":\"\uC5F0%\",\"WGT\":null,\"TIME\":\"20231228\",\"DATA_VALUE\":\"3.183\"}]}}"
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
